Basic Agentic RAG/Agentic RAG Database.json
{
  "name": "Agentic RAG Database",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1pIY8kZq-rokLgVcaGXDFciy7fILb8ouZ",
          "mode": "list",
          "cachedResultName": "Test Agentic RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1pIY8kZq-rokLgVcaGXDFciy7fILb8ouZ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "57d0e232-ab44-4fea-90f7-970c5e273a8b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gu7NVRsHuVpIR0lz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "11a8165b-a758-4880-bad3-96ed1610a2fa",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gu7NVRsHuVpIR0lz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "7216d45b-b91d-42ba-99dd-12f180332eb5",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "X2mz7W7TCbbB0Bma",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-embedding:0.6b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        304,
        192
      ],
      "id": "f6500352-badb-4924-ba84-354347a4a8d1",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xyeSY4RsHZS8sSRS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        512,
        192
      ],
      "id": "7208dc78-c317-43d5-8497-546dad7d136f",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cbd87ead-f880-470b-9c77-605951b72aca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75cfc46cfa9af33c885dd8e4849bb47e3a4a7ee52139ad49fc5d15a11ae268f5"
  },
  "id": "flehoQscoaCsr6fB",
  "tags": []
}